.primeblue {
  position: relative;
  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 120%;

    @include tablet {
      padding-top: 86.7346938776%;
    }

    @include desktop {
      padding-top: 37.5%;
    }
  }

  &__wallpaper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;

    &__container {
      height: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &__container {
      text-align: left;
      position: absolute;
      bottom: 0;
      padding-bottom: 15px;
      padding-top: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tablet {
        padding-top: 8.33333%;
        padding-bottom: 8.33333%;
        padding-left: 0;
      }

      @include desktop {
        padding-top: 27px;
        padding-bottom: 27px;
      }

      .title {
        position: relative;
        clear: both;
        margin-bottom: 10px;

        @include tablet {
          margin-bottom: 13px;
        }
      }
    }

    &__button-container {
      margin: 15px 0px 15px 0px;
      clear: both;

      .arrow-icon {
        margin-top: 5px;
        flex-shrink: 0;
        margin-left: 20px;
        display: inline-block;
        vertical-align: text-top;
        width: 24px;
        color: white;
      }
    }
  }
}
